@import '../vars.css';

.header-box {
  font-size: 1rem;
  width: 100%;
  max-width: calc(1920 / 32 * 1rem);
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
}

.header {
  @apply --flex-center;

  position: relative;
  height: calc(98 / 32 * 1rem);
}

.headerLeft {
  @apply --flex-center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 calc(20 / 32 * 1rem);
}

.headerLeft > img {
  display: block;
  width: calc(20 / 32 * 1rem);
}

.headerCenter {
  font-size: calc(36 / 32 * 1rem);
}

.headerRight {
  @apply --flex-center;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 calc(20 / 32 * 1rem);
}

.headerRight > img {
  display: block;
  width: calc(40 / 32 * 1rem);
}
